<html>

<head>
	<script src="jquery.js"></script>
	<script src="angular.js"></script>
	<script>
	var appModule = angular.module("appModule", []);

	appModule.controller("ApplicationController", ApplicationController);

	function ApplicationController($scope, $http, $interval, $compile) {

		var dletters = ["a","b","c","d","e","f","g","h"]
		var dfigures = ["","King","Queen","Rook","Bishop","Knight","Pawn"]
		var dcolors = ["","Black","White"]

		$scope.inOrOut = 'Login' //displayed on nav when not logged in
		$scope.loggedIn = false
		$scope.lobbyPollNum = 0

		$scope.tempMoveString = ""
		$scope.pollNum = -1
		//$scope.table = []

		$scope.login = function(user) {
			// if(!(user.pwd == undefined || user.name == undefined)) {
			// 	//alert('logging in '+user.name+' with password '+user.pwd)
			// }

			$http.get("/checkUserPwd?n=" + user.name + '&p=' + user.pwd)
				.success(function(response) {
					if(response.exists) {
						if(response.denied) {
							//wrong pwd
							alert("Username and password don't match, please try again!")
						} else {
							//all good, log him in
							//ask server to log user in ang generate unique login ID. this html will poll the server with that unique ID so you can't be logged in from 2 stations

							//alert("User logged in.")
							$scope.loggedIn = true
							$scope.greetUser = 'Logged in as ' + user.name + '. '

							$scope.inOrOut = 'Logoff' //displayed on nav when logged in
							$scope.loginName = user.name
							$scope.showView('lobby.html')

							if(!$scope.$$phase) {
								$scope.$apply()
							}
						}
					} else {
						//username not in DB
						alert('User not registered, please register first!')
					}

				})

		}
		$scope.askToStart = function(opponentsName) {

			$http.get('/startGame?w=' + $scope.loginName + "&b=" + opponentsName)

		}

		$scope.drawTable = function(wPlayer) {

				// var dfigures = ["", "King", "Queen", "Rook", "Bishop", "Knight", "Pawn"]
				// var dcolors = ["", "Black", "White"]

			$(".ideRakd").empty();
			var appendTable = $('<table class="main-table"> border="1"')
			$(".ideRakd").append(appendTable)

			if($('.main-table').height() < $('.main-table').width()) {

				var atHeight = $('.main-table').height();
				$('.main-table').css({
					'width': atHeight
				});

			} else {

				var atWidth = $('.main-table').width();
				$('.main-table').css({
					'height': atWidth
				});

			}

			if(wPlayer) {

				for(var i = 0; i < 9; i++) {
					var rowEndTr = $('</tr>')
					if(i == 0) {
						var rowTr = $('<tr class="heading row' + i + '">')
						var rowNumber = ""

					} else {
						var rowTr = $('<tr class="row' + i + '">')
						var rowNumber = (9 - i)
					}
					var firstTd = $('<td class="left-column">' + rowNumber + '</td>')
					$(".main-table").append(rowTr)
					$(".row" + i).append(firstTd)

					for(var j = 0; j < 8; j++) {
						if(i == 0) {
							$(".row" + i).append($('<td>' + dletters[j].toUpperCase() + '</td>'))
						} else {
							if((i + j) & 1) {
								$(".row" + i).append($compile($('<td ng-click="clickedItTrans(' + i + ',' + j + ')" ng-app="appModule" ng-controller="ApplicationController" class="square ' + dletters[j] + (9 - i) + '"></td>'))($scope))
							} else {
								$(".row" + i).append($compile($('<td ng-click="clickedItTrans(' + i + ',' + j + ')" ng-app="appModule" ng-controller="ApplicationController" class="darker ' + dletters[j] + (9 - i) + '"></td>'))($scope))
							}
						}

					};
					$(".main-table").append(rowEndTr)
					if(!$scope.$$phase) {
								$scope.$apply()
							}
				}

			} else {

				for(var i = 8; i >= 0; i--) {
					var rowEndTr = $('</tr>')
					if(i == 8) {
						var rowTr = $('<tr class="heading row' + i + '">')
						var rowNumber = ""

					} else {
						var rowTr = $('<tr class="row' + i + '">')
						var rowNumber = (8 - i)
					}
					var firstTd = $('<td class="left-column">' + rowNumber + '</td>')
					$(".main-table").append(rowTr)
					$(".row" + i).append(firstTd)

					for(var j = 7; j >= 0; j--) {
						if(i == 8) {
							$(".row" + i).append($('<td>' + dletters[j].toUpperCase() + '</td>'))
						} else {
							//var stuffToAppend=
							if((i + j + 1) & 1) {
								$(".row" + i).append($compile($('<td ng-click="clickedItTrans(' + (i + 1) + ',' + j + ')" ng-app="appModule" ng-controller="ApplicationController" class="square ' + dletters[j] + (8 - i) + '"></td>'))($scope))
							} else {
								$(".row" + i).append($compile($('<td ng-click="clickedItTrans(' + (i + 1) + ',' + j + ')" ng-app="appModule" ng-controller="ApplicationController" class="darker ' + dletters[j] + (8 - i) + '"></td>'))($scope))
							}
						}

					};
					$(".main-table").append(rowEndTr)

				}

			}

			console.log("drawTable done")

		}

		$scope.askToWatch = function(gameID) {

			$http.get('/watchGame?v=' + $scope.loginName + "&t=" + gameID)

		}

		$scope.getAndShowTable = function() {

			console.log('polling table ' + $scope.tableNum)

			$http.get('/getTable?t=' + $scope.tableNum)
				.success(function(response) {
					$scope.table = response.table
					$scope.wNext = response.next
					$scope.allMoves = response.allmoves
					$scope.chatLines = response.chat

					$scope.showTable()

				})

		}

		$scope.pollLobby = function() {
			$scope.lobbyPromise = $interval(function() {

				//refreshLobby()
				if($scope.viewName == 'lobby.html') {

					$http.get('/getLobby?p=' + $scope.loginName)
						.success(function(response) {

							if(response.asktoopen) {
								console.log('opening')

								$scope.tableNum = response.opentablenum
								$scope.wPlayer = response.opentablecolor
								$scope.opponentsName = response.opponentsname
								$scope.pollNum = 0

								$scope.openNow = true;

							}

							if(!($scope.lobbyPollNum == response.lobbypollnum)) {

								console.log('polling lobby')

								$scope.lobbyChatLines = response.lobbychat
								$scope.players = response.players
								$scope.games = response.games
								$scope.players.sort(function(a, b) {
									return a.toLowerCase().localeCompare(b.toLowerCase());
								});
								$scope.lobbyPollNum = response.lobbyPollNum
									//showLobby(lobbyChatLines, players, games, $scope.lobbyPollNum)
								if(!$scope.$$phase) {
								$scope.$apply()
							}

							}
							if($scope.openNow) {

								$scope.viewName = "board.html"
								$scope.openNow = false

								// 		window.setTimeout(function() {
								//  $scope.drawTable(true)

								//     $scope.$apply();
								// }, 3000);

							}

						}) //lobbypoll callback ends here
				} else {
					//itt kene mast pollozni

					if($scope.viewName == 'board.html') {
						$scope.refreshTable()
					}

				}
			}, 500); //setinterval stuff ends here

		}

		

		$scope.clickedItTrans = function(i, j) {
			//alert("called")
			console.log([i,j])
			
			var clickedField = [j, 8 - i]
			var clickedString = dletters[j] + (9 - i)

			if(!($scope.opponentsName == "Spectator")) {
				$scope.clickedIt(clickedField, clickedString)
			}
			//	console.log(clickedField,clickedString)

		}
		
		$scope.makeAMove = function(whatMove) {

			$http.get('/move?m=' + whatMove + '&t=' + $scope.tableNum)
				.success(function(response) {
					wNext = !wNext
					return response.table

				})

		}

		$scope.refreshTable = function() {

			$http.get('/getTPollNum?t=' + $scope.tableNum)
				.success(function(response) {
					if(!(response.tablepollnum == $scope.pollNum)) {
						$scope.pollNum = response.tablepollnum
						$scope.getAndShowTable()
					}

				})

		}

		$scope.showTable = function() { //this will update the displayed table from the array
			for(var i = 0; i < 8; i++) {
				for(var j = 0; j < 8; j++) {

					var thisFigure = $('<img src="cPiecesPng/' + $scope.table[i][j][0] + $scope.table[i][j][1] + '.png" alt=' + dcolors[$scope.table[i][j][0]][0] + dfigures[$scope.table[i][j][1]] + '></img>')

					if($scope.table[i][j][8] == true || $scope.table[i][j][9] == true) {

						thisFigure.addClass('selected');
					} else {

					}
					var thisSquare = "." + dletters[i] + (j + 1)

					$(thisSquare).empty();

					$(thisSquare).append(thisFigure);

				}
			}
			// showTableStatus()
			// showChat()
			if(!$scope.$$phase) {
								$scope.$apply()
							}
		}

		$scope.register = function(user) {

			if(user.pwd1 == user.pwd2) {
				if(!(user.pwd1 == undefined || user.rName == undefined || user.rName == "")) {
					//check if existing, if not then register in db

					$http.get("/checkUser?n=" + user.rName)
						.success(function(response) {
							if(response.exists) {
								alert('Name already exists, try another!')
							} else {
								$http.get('/newUser?n=' + user.rName + '&p=' + user.pwd1)
									.success(function(response) {
										alert(user.rName + ' registered.')
									})
							}
						});

					//alert('registering '+user.rName+' with password '+user.pwd1)

				}
			} else {
				alert("Passwords don't match, try again!")
			}
		}

		$scope.viewName = "login.html";

		$scope.newView = function(viewName) {
			if(viewName == 'board.html') {
				if($scope.wPlayer){
						$scope.drTable("wtable.html")
				}else{
					$scope.drTable("btable.html")
				}
			}
		}
		
		$scope.drTable = function(viewName) {
			$scope.draTable = viewName;
		}
		$scope.showView = function(viewName) {
			$scope.viewName = viewName;

			if(viewName == 'lobby.html') {
				$scope.openNow = false
					//$scope.lobbyPollNum=0	

				/////////////////////////////////		////lobby polling

				$scope.pollLobby()

				//}
			} else {

				if(viewName == 'login.html') {
					$interval.cancel($scope.lobbyPromise)
				}
				if(viewName == 'login.html') {
					$scope.greetUser = ''
					$scope.inOrOut = 'Login'
					$scope.loginName = 'someone'
					$scope.loggedIn = false
				}
			}
		}

		$scope.clickedIt = function(clickedField, clickedString) {

			var x = clickedField[0]
			var y = clickedField[1]
			var clickedColor = false
			
				//alert("called")
				console.log([x,y,clickedString])
				console.log($scope.table)
			if((!($scope.table[x][y][5] == []) || $scope.tempMoveString.length > 0) && $scope.wNext == $scope.wPlayer) {

				if(clickedString == $scope.tempMoveString) {
					$scope.table[x][y][8] = false
					$scope.clearHighlights()
					$scope.showTable()
					$scope.tempMoveString = ""
				} else {
					if($scope.table[x][y][0] > 0 && $scope.tempMoveString == "") {

						$scope.table[x][y][5].forEach($scope.highLightThem) //5odik elem ahova lephet
						$scope.showtable()
							//console.log($scope.tempMoveString)
					};
					if($scope.table[x][y][0] > 0 || 0 < $scope.tempMoveString.length) {

						$scope.tempMoveString += clickedString

						if($scope.tempMoveString.length < 3) {
							$scope.table[x][y][8] = true;
						}

					}
					if($scope.tempMoveString.length > 3) {

						if($scope.table[x][y][9] == true) {

							$scope.makeAMove($scope.tempMoveString)
							$scope.wNext = !$scope.wNext

							$scope.tempMoveString = ""

						} else {
							$scope.tempMoveString = $scope.tempMoveString[0] + $scope.tempMoveString[1]
						}

					}
					$scope.showTable()

				}
			}
		}
		$scope.highLightThem = function(arrayOfCoords) {
			$scope.table[arrayOfCoords[0]][arrayOfCoords[1]][9] = true;
		}

		$scope.clearHighlights = function() {
			for(var i = 0; i < 8; i++) {
				for(var j = 0; j < 8; j++) {
					$scope.table[i][j][8] = false;
					$scope.table[i][j][9] = false;

				}
			}
		}
	}

	</script>
</head>

<body ng-app="appModule" ng-controller="ApplicationController">


	<style>
	.selected {
		background-color: orange;
	}
	
	html,
	body {
		/*height: 98%;*/
		/*overflow-x: scroll;*/
	}
	
	.main-table {
		/*height: 600px;
		width: 600px;*/
		text-align: center;
	}
	
	.rotate90 {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	
	.square img {
		width: 80%;
		height: auto;
		;
	}
	
	.darker img {
		width: 80%;
		height: auto;
		;
	}
	
	.darker {
		background-color: silver;
		height: 72px;
		width: 72px;
	}
	
	.square {
		height: 72px;
		width: 72px;
	}
	
	.heading {
		height: 24px;
		background-color: grey;
	}
	
	.left-column {
		width: 24px;
		background-color: grey;
	}
	
	.statusCell {
		display: block;
		text-align-content: stretch;
		height: 100%;
		width: 100px;
		overflow-y: scroll;
	}
	
	.chatTextTr {
		height: 100%;
	}
	
	.chatCell {
		display: block;
		text-align-content: stretch;
		height: 566px;
		width: 220px;
		/*width: 300px;
  		*/
		overflow-y: scroll;
	}
	
	.frame-table {
		/*text-align-content: stretch;  */
		/*height: 602px;*/
		/*width:95%;
*/
	}
	
	.statusTr {
		height: 100%;
	}
	
	.leftTable {
		height: 100%;
	}
	
	.myPiece:hover {
		cursor: pointer;
	}
	/*.selected {
		background-color: yellow;
		
		
	}*/
	/*table {
  		
	}*/

	</style>
	<nav>

		<a href="#" ng-click="showView('login.html')" ng-class="{ selected: viewName == 'login.html' }">{{inOrOut}}</a>
		<a href="#" ng-click="showView('lobby.html')" ng-class="{ selected: viewName == 'lobby.html' }">Lobby</a>
		<a href="#" ng-click="showView('board.html')" ng-class="{ selected: viewName == 'board.html' }">Chessboard</a>
		<span width=100% align="right">{{greetUser}}</span>
	</nav>
	<div id="content" ng-include="viewName" onload="newView(viewName)">

	</div>

</body>

</html>