<html>
    <head>      
        <script src="jquery.js"></script>
        <script src="angular.js"></script>
        <script>
            // var alma = "korte"
            var appModule = angular.module("appModule", []);
            
            function  ApplicationController($scope) {
                // $scope.user = {
                //     firstName:" Miki",
                //     lastName: "Luki"
                // }
                
                // $scope.users = [];
                
                // for(var i = 0; i < 3; i++) {
                    
                //     var newUser = $.extend({}, $scope.user);
                //     console.log(i, newUser)
                //     newUser.id = i + 1;
                //     $scope.users.push(newUser);
                // }
                
                // $scope.removeUser = function(user) {
                //     $scope.users.splice($scope.users.indexOf(user), 1)
                // }
                
                // $scope.prompt = function() {
                //     return prompt()
                // }
                // $scope.createUser = function(id) {
                //     var newUser = {};
                //     newUser.isNew = true;
                //     newUser.id = id || Math.random().toString();
                //     $scope.users.push(newUser);
                // }
                
                // $scope.saveUser = function(user) {
                //     delete user.isNew;
                //     delete user.isEdit;
                // }
                
                // $scope.getUsers1 = function() {
                //     return $scope.users.filter(function(item, index, array) {
                //         return index % 2 == 0;
                //     });
                // }

                // $scope.getUsers2 = function() {
                //     return $scope.users.filter(function(item, index, array) {
                //         return index % 2 == 1;
                //     });
                // }
                
                
                $scope.viewName = undefined;
                
                $scope.showView = function(viewName) {
                    $scope.viewName = viewName;
                }
                
                // $scope.counter = 0;
                
                // $scope.increment = function() { 
                //     window.setTimeout(function() {
                //         $scope.counter++;
                        
                //         $scope.$apply();
                //     }, 1000);
                // }
                
            }
            
            appModule.controller("ApplicationController", ApplicationController);
        </script>
    </head>
    <body ng-app="appModule"  ng-controller="ApplicationController">
        
         <!--<div ng-include="'userTemplate.html'"></div>
         
        <div>count: {{users.length}}</div>
        <div><button ng-click="createUser(prompt())">Add new user</button></div>
        <ul class="list-of-users">
            <li ng-repeat="user in users">
                <div ng-if="user.isNew || user.isEdit">
                    <div>First name: <input ng-model="user.firstName" /></div>
                    <div>Last name: <input ng-model="user.lastName" /></div>
                    <div><button ng-click="saveUser(user)">Save me</button></div>
                </div>
                <div ng-if="!(user.isNew)">
                    <div ng-include="'userTemplate.html'"></div>
                    <button ng-click="removeUser(user)">Remove this user</button>
                    <button ng-click="user.isEdit = true">Edit me</button>
                </div>
            </li>
        </ul>
        
        <h1>User list1</h1>
        <ul>
            <li ng-repeat="user in getUsers1()" ng-include="'userTemplate.html'"> 
            </li>
        </ul>

        <h1>User list2</h1>
        <ul>
            <li ng-repeat="user in getUsers2()">
                    <div ng-include="'userTemplate.html'"></div>
            </li>
        </ul>-->
        <style>
                .selected {
                    background-color: orange;
                }
            </style>
        <nav>
            <a href="#" ng-click="showView('news.html')" ng-class="{ selected: viewName == 'news.html' }" >News</a>
            <a href="#" ng-click="showView('sport.html')" ng-class="{ selected: viewName == 'sport.html' }">Sport</a>
        </nav>
        <div id="content" ng-include="viewName">
            
        </div>
        
        
        <!--<h1>Async simulation</h1>
        <div>{{counter}}</div>
        <button ng-click="increment()">Increment</button>
        -->
    </body>
</html>