<html>

<head>
	<script src="jquery.js"></script>
	<script src="angular.js"></script>
	<script>
	var appModule = angular.module("appModule", []);

	appModule.controller("ApplicationController", ApplicationController);

	function ApplicationController($scope, $http) {
		
		$scope.inOrOut='Login'

		$scope.login = function(user) {
			// if(!(user.pwd == undefined || user.name == undefined)) {
			// 	//alert('logging in '+user.name+' with password '+user.pwd)
			// }
            
            
            $http.get("/checkUserPwd?n=" + user.name+'&p='+user.pwd)
						.success(function(response) {
							if(response.exists){
								if(response.denied){
									//wrong pwd
									alert("Username and password don't match, please try again!")
								}else{
									//all good, log him in
									//ask server to log user in ang generate unique login ID. this html will poll the server with that unique ID so you can't be logged in from 2 stations
									
									alert("User logged in.")
									$scope.loggedIn=true
									$scope.greetUser='Logged in as '+user.name+'. '
									$scope.viewName = "lobby.html"
									$scope.inOrOut='Logout'
								}
							}else{
								//username not in DB
								alert('User not registered, please register first!')
							}
                           	 
                        })
                        
		}

		$scope.register = function(user) {

			if(user.pwd1 == user.pwd2) {
				if(!(user.pwd1 == undefined || user.rName == undefined || user.rName == "")) {
					//check if existing, if not then register in db

					$http.get("/checkUser?n=" + user.rName)
						.success(function(response) {
							if(response.exists) {
								alert('Name already exists, try another!')
							} else {
								$http.get('/newUser?n=' + user.rName + '&p=' + user.pwd1)
									.success(function(response) {
										alert(user.rName + ' registered.')
									})
							}
						});

					//alert('registering '+user.rName+' with password '+user.pwd1)

				}
			} else {
				alert("Passwords don't match, try again!")
			}
		}

		$scope.viewName = "login.html";

		$scope.showView = function(viewName) {
			$scope.viewName = viewName;
		}

	}
	</script>
</head>

<body ng-app="appModule" ng-controller="ApplicationController">


	<style>
	.selected {
		background-color: orange;
	}
	</style>
	<nav>
		<span>{{greetUser}}</span>
		<a href="#" ng-click="showView('login.html')" ng-class="{ selected: viewName == 'login.html' }">{{inOrOut}}</a>
		<a href="#" ng-click="showView('lobby.html')" ng-class="{ selected: viewName == 'lobby.html' }">Lobby</a>
		<a href="#" ng-click="showView('chess.html')" ng-class="{ selected: viewName == 'chess.html' }">Chessboard</a>
	</nav>
	<div id="content" ng-include="viewName">

	</div>

</body>

</html>