<!DOCTYPE html>
<html>

<head>
	<title>Chess</title>
	
	<script src="engine.js"></script>

	
</head>

<body>
	  
	<table width=100% class="frame-table lbborder" ng-controller="ApplicationController">
		<tr>
			
			<td class="leftBar">
		
				Depth:<input ng-model="depth" ng-init="3" style="width:40px"><br>
				<button ng-click="takeItBack()">Oooops!!</button><br>

				
					<table class="myGamesHere">
						
						<tr class="displayedGame">
							
							Pollnum: {{pollNum}}
							<br> on table {{_id}}
						</tr>
						<tr>
							<td>
								<div class="scrollThis lbborder">
									<table>
										<tr class="recentGames pointed" ng-repeat="x in myRecentGames">
											<td ng-click="setTableNum(x)" ng-class="{ selected: x==_id}">{{x}}<span ng-if="x==_id">&lArr;</span>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
						<!--<tr><td>
							
						</tr></td>-->

					</table>
					<span ng-if="dbTable.wNext==wPlayer">Your turn.</span>
				<!--</div>-->
			</td>

			<td class="ideRakd" ng-include="'/wtable.html'"></td>

			<td class="hatszaz">
				<table class="leftTable">
					<tr class="yourTurnTr">
						<td class="blink">


						</td>
					</tr>
					<tr class="yourTurnTr">
						<td class="isItYourTurn">


						</td>

					</tr>
					<tr class="statusTr">

						<td class="statusCell"></td>
					</tr>
				</table>
			</td>

			<td class="chatTd">
				<div class="chatCell">
					<table>
						<tr ng-repeat="x in chatLines">
							<td>{{x}}</td>
						</tr>
						<tr class="chatInputRow">
							<td>

								<!--fix this to form-->


							</td>
						</tr>

					</table>
				</div>
				<form class="chatInput" ng-submit="sendChat()">
					<input type="text" ng-model="sendThis"></input>
					<button class="chatButton">Send</button>
				</form>
			</td>


		</tr>
	</table>

</body>

</html>
