<head>
	<link rel="stylesheet" type="text/css" href="chess.css">
	
	<script src="jquery.js"></script>
	<script src="angular.js"></script>
	<script src="brandNewAi.js"></script>
	<script src="engine.js"></script>

<script>	
	
	var appModule = angular.module("appModule", []);

	
	function ApplicationController( $http, $interval,  $scope) {	
		
		$scope.pollNum=0
		var captainPollConst=500
		$scope.learners=[]
		
		var longPoll=function(){
			$http.get('/captainPoll?pn='+$scope.pollNum+'&r='+Math.random())
			
			.then(function(response){
				//$scope.waitingThinkers=response.data.thinkers
				$scope.learners=response.data.learners
				$scope.knownThinkers=response.data.knownThinkers
				$scope.pollNum=response.data.captainPollNum
				$scope.taskQ=response.data.taskQ
				
				$scope.learners.sort(function(a,b){
					if(Number(a[5])>Number(b[5])){
						return -1
					}else{
						if(Number(a[5])<Number(b[5])){
							return 1
						}else{
							return 0
						}
							
							
						
					}
				})
				longPoll()
			})
			
	}
	
	
	longPoll()
	$scope.setModType=function(modType){
		$http.get('/mod?m='+modType).then(
			function(response){
				
				$http.get('/getModType').then(
					function(response2){
						alert('modType verify: '+response2.data.modType)
					}
				)
				
				//
				
			}
		)
	}

	$scope.refreshAllThinkers=function(){
		$http.get('/refreshAllThinkers')
	}
	
	$scope.stopAllLearners=function(){
		$http.get('/stopAllLearners')
	}
	
	$scope.startAllLearners=function(){
		$http.get('/startAllLearners')
	}
	
	}
appModule.controller("ApplicationController", ApplicationController);

</script>

<style>
	.makeGreen {
		color: green
	}
	.makeRed {
		color: red
	}
	
	
</style>


</head>
<body ng-app="appModule"  ng-controller="ApplicationController">
	
	
	<form ng-submit="setModType(thisModType)">
		ModType<input ng-model="thisModType"></input>
<!--		
		id="inputModType" 
		-->
	</form>
		Tasks in queue: {{taskQ}}
		
		<br>
		
		Known thinkers:
	<table><tr ng-repeat="x in knownThinkers">
		
		 <td ng-class="{ makeGreen: !x.busy , makeRed: x.busy }">{{x.id}}</td>
		 <td>{{x.lastSeen}} </td>
		 <td ng-if="x.busy">{{x.taskNum}}</td>
		 
		  <td ng-if="x.busy">{{x.task.command}}</td>
		  <td ng-if="x.busy">{{x.message}}</td>
	</tr></table>	 
			
		  
		  <!--<td ng-repeat="y in x">
			  {{y}}
		  </td>
		  -->
		  
	
	<br>
	
	<button ng-click="refreshAllThinkers()">Refresh all thinkers</button> 
	<button ng-click="startAllLearners()">Start all learners</button> 
	<button ng-click="stopAllLearners()">Stop all learners</button> 
	
	
	<!--<div ng-repeat="x in learners">{{x}}</div>-->
	<table>
		<tr>
			<td>
				name	
			</td>
			<td>
				tableNum	
			</td>
			<td>
				modeType	
			</td>
			<td>
				pollNum	
			</td>
			<td>
				modVal	
			</td>
			<td>
				moves / minute	
			</td>
			
		</tr>
		<tr ng-repeat="x in learners">
	
			<td ng-repeat="y in x">
				{{y}}
			</td>
		</tr>
	</table>
	
	<br>
	<!--Ready thinkers:
	<div ng-repeat="x in waitingThinkers"> {{x}} </div>
	
	
	<br>-->

	
</body>