.centered {
  text-align: center;
}

.greyed {
  color: grey;
}

.selected {
  background-color: orange;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@-webkit-keyframes fadeIt {
  0% {
    background-color: orange;
  }
}

@-moz-keyframes fadeIt {
  0% {
    background-color: orange;
  }
}

@-o-keyframes fadeIt {
  0% {
    background-color: orange;
  }
}

@keyframes fadeIt {
  0% {
    background-color: orange;
  }
}

.alertcourtain{
    
	
	position:absolute; 
	
	height:20vw;
	top:10vw;
	 
	right: 20vw;
    left: 20vw;
	
    margin-right: auto;
    margin-left: auto;
	
	margin-bottom: auto;
    margin-top: auto;
	
	z-index:2;
	
	min-height:200px;
	
 
  
	
	vertical-align:middle;
	
	background-color:rgba(55,55,155,0.8);color:white
}
	
	.divAroundIt {
		padding: 10%;
	}
	
	.square {
		/*width: auto;*/
		height: 0;
		background-color: white;
		/*padding-bottom: 12.2%;*/
		/*padding: 2% 1%;*/
	}
	
	.darker {
		/*width: auto;*/
		height: 0;
		/*padding-bottom: 12.2%;*/
		/*padding: 2% 1%;*/
		background-color: silver;
	}
	
	.innerdiv {
		width: 100%;
		padding-bottom: 100%;
	}
	
	.heading {
		height: 24px;
		background-color: grey;
	}
	
	.left-column {
		width: 24px;
		background-color: grey;
	}
	
	.main-table {
		/*height: 600px;
		width: 600px;*/
		text-align: center;
		border: 1px solid black;
		height: 100%;
		/*width: 70%;
		height: 0;
		padding-bottom: 70%;
	*/
	}
	
	.frame-table {
		/*display: -webkit-flex; 
  		display: flex;
		*/
		width: 100%;
		height: 100%;
		align-items: left;
		
		border-left:  1px solid lightblue;
		border-bottom:  1px solid lightblue;
		border-right:  1px solid lightblue;
		
		background-color: #f3f3f3;
	}
	
	
	
	.leftBar {
		background-color: lightblue;
		vertical-align: top;
		/*width: 100px;*/
	}
	
	.collapsed {
		border-collapse: collapse;
		width: 100%
	}
	
	.myGamesHere {
		/*height: 100%;*/
		margin: 0;
		padding: 0;
		/*overflow-y: scroll;*/
	}
	
	.scrollThis {
		/*height: 500px;*/
		margin: 0;
		padding: 0;
		/*overflow-y: scroll;*/
	}
	
	.recentGames {
		/*height: 500px;*/
	}
	/*.ideRakd {
	   
	}*/
	
	.chatTd {
		vertical-align: stretch;
		padding-bottom: 4px;
		/*overflow-x: scroll;*/
	}
	
	.chatCell {
		/*display: block;*/
		/*height: 100%;*/
		/*width:100%;*/
		/*text-align-content: stretch;
		*/
		/*height: 600px;*/
		/*width: 80%;*/
		/*-webkit-text-size-adjust: 50%*/
		overflow-x: scroll;
		overflow-y: scroll;
		
		/*overflow-x: scroll;*/
	}
	.tableAndChat{
		vertical-align: top;
	}
	.chatInput {
		width: 100%;
		height: 1px;
		align-items: stretch;
		/*vertical-align: bottom;*/
	}
	
	.chatInpt {
		width: 500px;
		/*height: 1px;*/
		/*vertical-align: bottom;*/
	}
	
	.chatButton {
		width: 50px;
	}
	
	.ideRakd {
		width: 1px;
	}
.selected2 {
  -webkit-animation: fadeIt 2s ease-in-out;
  -moz-animation: fadeIt 2s ease-in-out;
  -o-animation: fadeIt 2s ease-in-out;
  animation: fadeIt 2s ease-in-out;
}

.navvv {
  background-color: lightblue;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  float: left;
/*  
  font-family: 'arial';
  */
  
}
.small-table {
		height: 100px;
		width: 100px;
    overflow: scroll;
		/*text-align: center;*/
		border: 1px solid black;
		/*height: 100%;*/
		/*width: 70%;
		height: 0;
		padding-bottom: 70%;
	*/
	}
.prog {
}

.scrolled {
  overflow: auto;
}

.xc {
  display: inline-block;
}

.radial {
	 
  margin-right: 5px;
    margin-left: 3px;
	
    padding-right: 2px;
    padding-left: 2px;
	
  font-size: 0.9em;
  font-family: "Lucida Console";
  color: white;
  background: red;
  background: -webkit-radial-gradient(red,red,red,red,red,red, white,rgba(0,0,0,0.0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  background: -o-radial-gradient(red,red,red,red,red,red, white,rgba(0,0,0,0.0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  background: -moz-radial-gradient(red,red,red,red,red,red, red, rgba(0,0,0,0.0),rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  background: radial-gradient(red,red,red,red,red,red, white,rgba(0,0,0,0.0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

.makeGreen {
  color: green;
}

.docuBody{
  
  font-family: 'arial';
  /*font-size: 11em;*/
}

.makeRed {
  color: red;
}

.makeGrey {
  color: grey;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lbborder {
  border: 1px solid lightblue;
}

.bordered {
  border: 5px solid orange;
}
.noborder {
  border: 5px solid rgba(0,0,0,0) ;
  
}

.wBorder {
  border: none;
  border-bottom: 2px solid white;
}

.pointed {
  cursor: pointer;
}

.oneem{
    text-align: center;
    height:1em;
    width:1em;
    font-weight: bold;
    font-size: 12;
    background: #aaaaaa
    
    
}

.activeTab {
  background-color: #f3f3f3;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid #f3f3f3;
  color: #000000;
  border-top-right-radius: 0.51em;
  border-top-left-radius: 0.51em;
}

.passiveTab {
  /*padding-top: 1px;*/
  background-color: #d3d3d3;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  color: #444444;
  border-top-right-radius: 0.51em;
  border-top-left-radius: 0.51em;
}

.betweenTabs {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}