	.centered {
	    /*height: 600px;
		width: 600px;*/
	    
	    text-align: center;
	}
	.greyed {
	    color: grey
	}
	.selected {
	    background-color: orange;
	}
	
	
	
	
	
@-webkit-keyframes fadeIt {
  /*0%   { background-color: #FFFFFF; }*/
  50%  { background-color: #AD301B; }
  /*100% { background-color: #FFFFFF; }*/
}
@-moz-keyframes fadeIt {
  /*0%   { background-color: #FFFFFF; }*/
  50%  { background-color: #AD301B; }
  /*100% { background-color: #FFFFFF; }*/
}
@-o-keyframes fadeIt {
  /*0%   { background-color: #FFFFFF; }*/
  50%  { background-color: #AD301B; }
  /*100% { background-color: #FFFFFF; }*/
}
@keyframes fadeIt {
  /*0%   { background-color: #FFFFFF; }*/
  50%  { background-color: #AD301B; }
  /*100% { background-color: #FFFFFF; }*/
}

.selected2{    
    /*background-image:none !important;*/
    -webkit-animation: fadeIt 1s ease-in-out; 
       -moz-animation: fadeIt 1s ease-in-out; 
         -o-animation: fadeIt 1s ease-in-out; 
            animation: fadeIt 1s ease-in-out; 
}
	/*.selected2 {
	    background-color: green;
		
	}*/
	nav {
	    background-color: lightblue;
	}
	html,
	body {
	    /*height: 98%;*/
	    /*overflow-x: scroll;*/
	}
	.ideRakd {
	    /*height: 600px;
		width: 600px;*/
	    /*http://blog.brianjohnsondesign.com/maintain-aspect-ratio-for-html-element-using-only-css-in-a-responsive-design/
		*/
	    /*width: 60%;
		height: 0;
		padding-bottom: 60%;*/
	}
	.main-table {
	    /*height: 600px;
		width: 600px;*/
	    
	    text-align: center;
	    border: 1px solid black;
	    /*height: 600px*/
	    /*width: 70%;
		height: 0;
		padding-bottom: 70%;
	*/
	}
	.rotate90 {
	    -webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
	}
	.square img {
	    width: 100%;
	    border: 10px;
	    /*height: 80%
		height: auto;*/
	}
	.darker img {
	    width: 100%;
	    border: 10px;
	    /*height: 80%
		height: auto;*/
	}
	.divAroundIt {
	    padding: 10%;
	}
	.square {
	    width: auto;
	    height: 0;
		background-color: white;
	    /*padding-bottom: 12.2%;*/
	    /*padding: 2% 1%;*/
	}
	.darker {
	    width: auto;
	    height: 0;
	    /*padding-bottom: 12.2%;*/
	    /*padding: 2% 1%;*/
	    
	    background-color: silver;
	}
	.innerdiv {
	    width: 100%;
	    padding-bottom: 100%;
	}
	.heading {
	    height: 24px;
	    background-color: grey;
	}
	.left-column {
	    width: 24px;
	    background-color: grey;
	}
	.myGamesHere {
	    /*height: 100%;
		width: 120px;
		border-top: 2px solid white;
		border-bottom: 2px solid white;
		overflow: auto;
		padding: 5px;*/
	    
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    overflow-y: scroll;
	}
	.statusCell {
	    display: block;
	    text-align-content: stretch;
	    /*height: 100%;*/
	    
	    width: 100px;
	    overflow-y: scroll;
	}
	.leftBar {
	    /*width: 120px;
		height: 100%;
		margin: 0;
		padding: 0;
		*/
	    /*height: 600px;
		margin: 0;
		padding: 0;
		*/
	    
	    background-color: lightblue;
	}
	.scrollThis {
	    /*width: 114px;*/
	    
	    height: 500px;
	    margin: 0;
	    padding: 0;
	    overflow-y: scroll;
	}
	.chatTextTr {
	    /*height: 100%;*/
	}
	.chatCell {
	    display: block;
	    text-align-content: stretch;
	    height: 600px;
	    /*width: 220px;*/
	    width: 300px;
  		
	    
	    overflow-y: scroll;
	}
	body {
	    height: 90%
	}
	.frame-table {
	    /*border: 1px solid lightblue;*/
	    /*background-color: lightblue;*/
	    /*height:606px;*/
		display: -webkit-flex; /* Safari */
  		display: flex;
		
		
	}
	.lbborder {
	    border: 1px solid lightblue;
	}
	.wborder {
	    border: 1px solid white;
	}
	.hatszaz {
	    height: 600px;
	}
	.statusTr {
	    /*height: 100%;*/
	}
	.leftTable {
	    background-color: lightblue;
	    /*height:500px;*/
	    
	    overflow: scroll;
	}
	.pointed {
	    cursor: pointer;
	}
	.recentGames {
	    /*text-align-content: stretch;*/
	    
	    height: 500px;
	    /*width: 100px;*/
	}
	.chatInput {
	    width: 100%
	}
	/*.selected {
		background-color: yellow;
		
		
	}*/
	/*table {
  		
	}*/