
<!--<style>
	.chatTextTr {
		
		height: 100%;
		
	}
	.chatCell {
		display: block;
		text-align-content: stretch;  
		height: 566px;
		width: 220px;
		/*width: 300px;
  		*/overflow-y: scroll;
	}

	.pointed:hover {
		cursor: pointer;
	}
</style>-->






<div>
	<table class="lobbyFramTable" border="1">
		<tr>
			<td>
			Below you can see the active users. <br>Click on someone to start a game against.<br>
			<br>
			<!--<p class="putPlayersHere"></p>-->
			<div ng-repeat="x in players" ng-click="askToStart(x)" ng-class="{ selected: x == loginName }">{{x}}</div>
			
			
				
			</td>
			
			
			<td>
			Below you can see the active tables. <br>Click on a game to watch it.<br>
			<br>
			<!--<p class="putGamesHere"></p>-->
				<li ng-repeat="x in games" ng-click="askToWatch(x.tableNum)">Table {{x.tableNum}} {{x.wName}} vs {{x.bName}}</li>
			</td>
			
			
			<td>
				<table>
				<tr class="chatTextTr">
					<!--<td class="chatCell"></td>-->
					<div nd-repeat="x in lobbyChatLines">{{x}}</div>
				</tr>
				<tr class="chatInputRow"><td>
					<input type="text" class="chatInput" onkeydown="if (event.keyCode == 13) sendLobbyChat()">



					<button class="chatButton" onclick="sendLobbyChat()">Send</button>
				</td></tr>

				</table>
			</td>
		</tr>
	</table>
</div>
<!--</html>-->