<div>
	<table>
		<tr>
			<td>
                 <br>
				<div align="center"><h1>Login</h1></div>
                <br>
				<div align="right">Username: <input ng-init="" ng-model="user.name"></input></div>
				
                <div align="right">Password: <input ng-init="" type="password" ng-model="user.pwd"></input></div>
                  <br> <br>
                  <div align="center"><button ng-click="login(user)">Login</button></div>
			</td>
			<td width=100>
                 
                
                </td>
                    <td>
                        
				  <br>
				<div align="center"><h1>Register</h1></div>
                <br>
				<div align="right">Username: <input ng-init="" ng-model="user.rName"></input></div>
				
                <div align="right">Password: <input ng-init="" type="password" ng-model="user.pwd1"></input></div>
                  <div align="right">Re-type password: <input ng-init="" type="password" ng-model="user.pwd2"></input></div>
                  
                   <br>
                 <div align="center"> <button ng-click="register(user)">Register</button></div>
                  
			</td>
		</tr>

	</table>

</div>
