<div>
	<table>
		<tr>
			<td ng-app="appModule">
                 <br>
				<div align="center"><h1>Login</h1></div>
                <br>
				<div align="right">Username: <input></input ng-model="loginUser"></div>
                <div align="right">Password: <input></input ng-model="loginPwd"></div>
                  <br> <br>
                  <div align="center"><button>Login {{loginUser}} </button></div>
			</td>
			<td width=100>
                 
                
                </td>
                    <td>
                        
				  <br>
				<div align="center"><h1>Register</h1></div>
                <br>
				<div align="right">Username: <input></input></div>
                <div align="right">Password: <input></input></div>
                  <div align="right">Re-type password: <input></input></div>
                  
                   <br>
                 <div align="center"> <button>Register</button></div>
                  
			</td>
		</tr>

	</table>

</div>
