<head>
    <link rel="stylesheet" type="text/css" href="chess.css">

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="brandNewAi.js"></script>
    <script src="engine.js"></script>

    <script>
        var appModule = angular.module("appModule", []);

        function ApplicationController($rootScope, $http, $interval, $timeout, $scope) {
            $rootScope.messages = ["Starting.."]




            $rootScope.heartBeat = 3500

            $rootScope.pollsPending = 0

            /////////ccokie stuff


            $scope.cookieID = ""
                //$scope.gotID=false

            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + "; " + expires;
            }

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }

            $scope.cookieID = getCookie("myThinkerId");


            $rootScope.totalTasksTime = Number(getCookie("totalTasksTime"))
            $rootScope.totalTaskCount = Number(getCookie("totalTaskCount"))

            //if ($rootScope.moveCount == "") $rootScope.moveCount = 0

            if ($scope.cookieID == "") {        //rossz!!!

                $scope.sendID = Math.random * 100000000     //nem tortenik meg
            } else {
                $scope.sendID = $scope.cookieID
            }

            $scope.setID = function(id) {
                setCookie("myThinkerId", id, 365)
                $scope.cookieID = id //$scope.gotID=true
                $scope.sendID = id
            }


            $scope.setCookies = function() {
                setCookie("totalTasksTime", $rootScope.totalTasksTime, 365);
                setCookie("totalTaskCount", $rootScope.totalTaskCount, 365);
            }


            $rootScope.sendMessage = function(message) {
                $rootScope.messages.unshift(message + ' @' + (new Date).getTime())
            }

             /////////ccokie stuff end
             
             $scope.doTask=function(task){
                 //where the magic happens
                 switch(task.command){
                     case "evalGame":
                        
                        var tableForDB=0//make some dbtable
                        
                        //sg like  evalGame(tableForDB)
                        alert('eval task came')
                        
                     break;   

                     
                 }
                 
                 
             }
             
           
            /////////longpoll tasks stuff

            $scope.taskNum=0
               
                var longPollTasks=function(){
                    
                    $http.get('/longPollTasks?id='+$scope.sendID+'&tn='+$scope.taskNum)
                        .then(function(response){
                            
                            // 1 task received
                            
                            $scope.taskNum=response.data.taskNum
                            
                            $scope.receivedMessage=response.data.message        //display Heading
                            
                            $rootScope.sendMessage('task #'+response.data.taskNum+' received, '+response.data.message)
                            
                            $scope.doTask(response.data.task)
                            
                            
                            longPollTasks()			//recall for new task, server will hold any new task until this one finishes
                    
                        },function(data){
                            //error, retry
                            $scope.receivedMessage='error'
                            $interval( longPollTasks(),10000)   //retry in 10 secs
                        })
                    
                }

                 longPollTasks()//start initial longpoll
                 
              /////////longpoll tasks stuff end


        }
        appModule.controller("ApplicationController", ApplicationController);
    </script>
</head>

<body ng-app="appModule" ng-controller="ApplicationController">

    <form ng-if="cookieID==''" ng-submit="setID(thisID)">
        <input id="inputID" ng-model="thisID"></input>
    </form>


    <p>{{totalTaskCount}} tasks done in {{totalTasksTime}} milliseconds.</p>

    <h1>{{headMessage}}</h1>

    <div ng-repeat="x in messages">{{x}}</div>


</body>