<head>
	<link rel="stylesheet" type="text/css" href="chess.css">

	<script src="jquery.js"></script>
	<script src="angular.js"></script>
	<script src="brandNewAi.js"></script>
	<script src="engine.js"></script>

	<script>
	var appModule = angular.module("appModule", []);

	function ApplicationController($scope, $http, $interval, $timeout, $scope) {
		//var sendID=""

		$scope.taskNum=0
		
		var longPollTasks=function(){
			
			$http.get('/longPollTasks?id='+$scope.sendID+'&tn='+$scope.taskNum)
				.then(function(response){
					
					//$scope.taskNum=response.data.taskNum
					
					$scope.receivedMessage=response.data.message
					
					
					
					longPollTasks()			//recall for new task
				},function(data){
					//error, retry
					$scope.receivedMessage='error'
					$interval( longPollTasks(),3000)
				})
			
		}
		
		
		
		
		longPollTasks()		//here it starts
		
		
		

	}
	appModule.controller("ApplicationController", ApplicationController);

	</script>
</head>

<body ng-app="appModule" ng-controller="ApplicationController">

	<form ng-if="cookieID==''" ng-submit="setID(thisID)">


		<input id="inputID" ng-model="thisID"></input>


	</form>
	
	<form ng-submit="sendshit(thisshit)">
		<input id="inputshit" ng-model="thisshit"></input>
	</form>
	
	
	
	{{receivedMessage}}

</body>
