<!DOCTYPE html>
<html>

<head>
	<title>Chess</title>
	<style>
	.square img {
		width: 100%;
		border: 10px;
		
	}
	
	.darker img {
		width: 100%;
		border: 10px;
		
	}
	</style>
	<!--<script src="engine.js"></script>-->
</head>

<body>
	<table ng-if="screenRatio==0" class="frame-table" ng-controller="ApplicationController">
		<tr>
			
			<td class="leftBar">
				<div ng-include="'html/leftBar.html'" onload="updateSizes()"></div>
			</td>
			
			<td class="ideRakd" ng-include="'html/'+draTable" onload="showTable()">
			</td>
			
			
			<td class="chatTd">
				<div ng-include="'html/chatTd.html'" nowrap onload="updateSizes()"></div>
			</td>

		</tr>
	</table>

	<table ng-if="screenRatio==1" class="frame-table" ng-controller="ApplicationController">
		<tr>
			<td class="leftBar">
				<div ng-include="'html/leftBar.html'" onload="updateSizes()"></div>
			</td>
			
			<td class="tableAndChat">
				<table>
					<tr>
						<td class="ideRakd" ng-include="'html/'+draTable" onload="showTable()"></td>
					</tr>
					<tr>
						<td class="chatTd">
							<div ng-include="'html/chatTd.html'" nowrap onload="updateSizes()"></div>
						</td>

					</tr>

				</table>
			</td>

			

		</tr>
	</table>

	<table ng-if="screenRatio==2" class="frame-table" ng-controller="ApplicationController">
		<tr>
			<td class="leftBar">
				<div ng-include="'html/leftBar.html'" onload="updateSizes()"></div>
			</td>
			
			<td class="tableAndChat">
				<table>
					<tr>
						<td class="ideRakd" ng-include="'html/'+draTable" onload="showTable()"></td>
					</tr>
					<tr>
						<td class="chatTd">
							<div ng-include="'html/chatTd.html'" nowrap onload="updateSizes()"></div>
						</td>

					</tr>

				</table>
			</td>

			

		</tr>
	</table>

	<table ng-if="screenRatio==3" class="frame-table" ng-controller="ApplicationController">
		<tr>

			<td colspan="10" style="width: 100%" class="ideRakd" ng-include="'html/'+draTable" onload="showTable()" onload="updateSizes()"></td>

		</tr>
		<tr>

			<td class="leftBar">
				<div ng-include="'html/leftBar.html'" onload="updateSizes()"></div>
			</td>

			<td class="chatTd">
				<div ng-include="'html/chatTd.html'" nowrap onload="updateSizes()"></div>
			</td>

		</tr>

	</table>

</body>

</html>