<style>

.atable, .atd  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  
}
.btd {
	 border: none;
	border-collapse: collapse;
	padding: 5px;
	width: 100px;
}
.atable tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
.atable tr:nth-child(even) {
  background-color: #ffffff;
}

.msgs{
	vertical-align:bottom;
	height:80%
}
.makeGreen {
	color: green
}

.makeRed {
	color: red
}

.makeGrey {
	color: grey
}

</style>

<div style="background-color: #f3f3f3" class="frame-table">

<h3>Clients:</h3>

	<button ng-click="refreshAllBrowsers()">Refresh all browsers</button>


	<br><br>
	<div style="width:100%;overflow-x:scroll">
	<table class="atable">
		<tr>
			<td class="atd">connectionID</td>
			<td class="atd"  ng-repeat="x in clients track by $index">
					
					{{x.connectionID}}
				
			</td>
			
		</tr><tr>
			<td class="atd">clientMongoId</td>
			<td class="atd"  ng-repeat="x in clients track by $index">
					
					{{x.clientMongoId}}
				
			</td>
			
		</tr><tr>
			<td class="atd">speed</td>
			<td class="atd"  ng-repeat="x in clients track by $index">
					
					{{x.speed}}
				
			</td>
		</tr><tr>
			<td class="atd">loggedInAs</td>
			<td class="atd"  ng-repeat="x in clients track by $index">
					
					{{x.loggedInAs}}<span ng-if="x.stayLoggedIn"> *</span>
				
			</td>
		</tr><tr>
			<td class="atd">currentState</td>	
			<td class="atd"  ng-repeat="x in clients track by $index">
					
					{{x.currentState}}
				
			</td>
		</tr><tr>
			<td class="atd">viewing</td>	
			<td class="atd"  ng-repeat="x in clients track by $index">
					
					{{x.viewing}}
				
			</td>
		</tr><tr>
			<td class="atd">history</td>	
			<td class="atd"  ng-repeat="x in clients track by $index">
					
					{{x.history}}
				
			</td>
		</tr>
		
	</table>
	</div>




<h3>Views:</h3>

	<table class="atable">
	
		<tr ng-repeat="x in activeViews track by $index">
			
		<td class="atd">{{x.viewName}}</td>
		
		<td class="atd">
			
			<table>
				
				<tr ng-repeat="y in x.subViews track by $index">
					
					<td class="atd">
						{{y.subViewName}}
					</td>
					
					
					<td class="atd"  ng-repeat="z in y.viewParts track by $index">
				
						<!--<div ng-if="$index==0">{{y}}</div>-->
						{{z.viewPartName}}: {{z.viewers}}
						<!--<div>
							<li ng-repeat="z in y track by $index">{{z.viewPartName}}: {{z.viewers}}</li>
						</div>-->
						<!--<ul ng-if="$index==1" ng-repeat="z in y track by $index">{{z}}</ul>-->
					</td>
							
					
					
				</tr>
				
				
				
				
			</table>
					
			
		</td>
				

			
		</tr>
		
		
		
		
		
	</table>
</div>