<table>
    <tr class="chatCell" style="overflow:scroll">
        <td>
            <div ng-repeat="x in dbTable.chat track by $index">{{x}}</div>
        </td>   
    </tr>
    <tr class="chatInputRow">
        <td nowrap>
				
					<form class="chatInput" ng-submit="sendChat(temp1.chatInput)">
                        
                        <input type="text" style="width:90%" ng-model="temp1.chatInput"><button style="width:10%">Send</button>
  
                    </form>
        </td>
    </tr>
</table>
    