<table class="collapsed">
				
					
					<tr>
						<td nowrap class="wBorder statusBox"> 
							<form ng-submit="setDepth(depth)">
								Depth:
								<input ng-model="depth" style="width:40px">
								<button>Set</button>
							</form>
							<br>
							<button ng-if="dbTable.wName=='Computer'||dbTable.bName=='Computer'" ng-click="takeItBack()">Oooops!!</button>
							
							<br>
							<span ng-if="dbTable.wNext==wPlayer">Your turn.</span> 
							<span ng-if="dbTable.wNext!=wPlayer">Please wait..</span> 
							<br>
							<br>
							<div ng-repeat="x in busyThinkers track by $index">
								<div ng-if="x.sentCount!=0" ng-class="{ makeGreen: x.done , makeRed: !x.done , makeGrey: x.sentCount==0 }">client{{$index+1}}: {{x.sentCount}} <span ng-if="x.sentCount!=1">moves</span><span ng-if="x.sentCount==1">move</span></div>
								<progress  ng-if="x.sentCount!=0" class='prog' max='100' style="width:100%; height:4px; color:blue" value="{{x.progress}}">
								
							</div>
							
							
							
							
						</td>
					</tr>
					<tr>
						<td class="scrollThis">
							<div class="lbborder scrollThis moves" style="overflow-y:scroll">
								<div ng-repeat="x in dbTable.moves">
									<img ng-src="{{'cPiecesPng/'+x[0]+x[1]+'.png'}}" style="width: 15%">
									<div style="display:inline-block;position:relative;top:-5px">{{x[2]+x[3]+x[4]+x[5]}}</div>
									<img ng-src="{{'cPiecesPng/'+x[6]+x[7]+'.png'}}" style="width: 15%" class="rotate90">
								</div>
								
							</div>
						</td>
					</tr>
				</table>