
<!--<div style="background-color: #f3f3f3">-->
	<table class="frame-table" style="width: 100%; height:90%; background-color: #f3f3f3">
		<tr style="height:100%">
			<td style="height:100%; vertical-align:top">
				Below you can see the online users. <br>Click on someone to start a game against.<br>
				<br>
				<!--<p class="putPlayersHere"></p>-->
				
				<div ng-click="alertUser('Under Construction','Not yet implemented, to challange the Computer just click on the Instant Game button on the top right',['Ok'],{},5,'Ok')" class="pointed">Computer</div>
				<br>
				<div ng-repeat="x in onlineUsers track by $index" ng-click="askToStart(x.name)" ng-class="{ greyed: x.name == loginName, pointed: x.name != loginName }">{{x.name}}</div>
				
				
				
			</td>
			
			
			<td style="height:100%; vertical-align:top">
				Below you can see the active tables. <br>Click on a game to watch it.<br>
				<br>
				<!--<p class="putGamesHere"></p>-->
				<li ng-repeat="x in games" ng-class="pointed" ng-click="askToWatch(x._id)">Table {{x._id}} {{x.wName}} vs {{x.bName}}</li>
			</td>
			
			
			<td style="height:100%; vertical-align:bottom">
				<table>
				<tr>
					<td style="height:90%">
					   <div ng-repeat="x in lobbyChat track by $index">{{x}}</div>
					</td>
				</tr>
				<tr class="chatInputRow"><td>
                    <form ng-submit="sendLobbyChat(temp1.lobbyChatInput)">
                        
                        <input type="text" class="chatInput" ng-model="temp1.lobbyChatInput"><button class="chatButton">Send</button>
  
                    </form>
					


					
				</td></tr>

				</table>
			</td>
		</tr>
	</table>
<!--</div>-->