
<!--<div style="background-color: #f3f3f3">-->
	<table class="frame-table" style="width: 100%; background-color: #f3f3f3">
		<tr>
			<td>
				Below you can see the online users. <br>Click on someone to start a game against.<br>
				<br>
				<!--<p class="putPlayersHere"></p>-->
				
				<div ng-click="alertUser('Under Construction','Not yet implemented, to challange the Computer just click on the Instant Game button on the top right',['Ok'],{},5,'Ok')" class="pointed">Computer</div>
				
				<div ng-repeat="x in onlineUsers track by $index" ng-click="askToStart(x.name)" ng-class="{ greyed: x.name == loginName, pointed: x.name != loginName }">{{x.name}}</div>
				
				
				
			</td>
			
			
			<td>
				Below you can see the active tables. <br>Click on a game to watch it.<br>
				<br>
				<!--<p class="putGamesHere"></p>-->
				<li ng-repeat="x in games" ng-class="pointed" ng-click="askToWatch(x._id)">Table {{x._id}} {{x.wName}} vs {{x.bName}}</li>
			</td>
			
			
			<td>
				<table>
				<tr class="chatTextTr">
					<!--<td class="chatCell"></td>-->
					<div nd-repeat="x in lobbyChatLines">{{x}}</div>
				</tr>
				<tr class="chatInputRow"><td>
					<input type="text" class="chatInput" onkeydown="if (event.keyCode == 13) sendLobbyChat()">



					<button class="chatButton" onclick="sendLobbyChat()">Send</button>
				</td></tr>

				</table>
			</td>
		</tr>
	</table>
<!--</div>-->